numpy==2.5.2
pandas==3.0.5
matplotlib==3.11.1
seaborn==0.13.2
rasterio==1.5.1
geopandas==1.1.4
shapely==2.1.2
scikit-learn==1.9.0
tabulate==0.10.0
jupyter==1.1.1
pytest==9.1.1
earthengine-api==1.7.42
scipy==1.18.1
python-docx==1.2.0
requests==2.34.2
pyproj==3.7.2
pyogrio==0.13.0
Pillow==12.3.0
affine==3.0.0
scikit-image==0.26.0
